@import "~antd/lib/style/themes/default";

.text-bold {
  font-weight: bold;
}

.text-info {
  color: @info-color;
}

.text-success {
  color: @success-color;
}

.text-warning {
  color: @warning-color;
}

.text-danger {
  color: @error-color;
}

.bg-info {
  background-color: @alert-info-bg-color;
}

.bg-success {
  background-color: @alert-success-bg-color;
}

.bg-warning {
  background-color: @alert-warning-bg-color;
}

.bg-danger {
  background-color: @alert-error-bg-color;
}

.adsbygoogle {
  margin: 40px auto;
}
