.server-list {
  margin: 25px 0;

  .server-status {
    float: right;
    cursor: help;
  }
}

.server-ranking {
  .ant-table-tbody > tr > td {
    padding: 0;
  }

  div.cell {
    padding: 16px;
    background-color: #fff;

    &.bg-success {
      background-color: #f6ffed;
    }

    &.bg-warning {
      background-color: #fffbe6;
    }

    &.bg-danger {
      background-color: #fff2f0;
    }
  }
}
